# so these are the env variables I am using in this project (hoping this will help you)!

AUTH_SECRET="your Authentication Seceret"
AUTH_GOOGLE_ID="your Google Authentication ID"
AUTH_GOOGLE_SECRET="your Google Authentication Secret"
MONGODB_URI="your mongodb uri"